<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <li class="list-group-item list-group-item-success">
                <strong>Sites</strong>
            </li>
            <li ng-repeat="site in sites | orderBy:name" class="list-group-item">
                <a  ui-sref=".pagetree({siteId: site.id})">{{site.name}}</a>
                <a  class="badge" ui-sref=".detail({siteId: site.id})"><span class="glyphicon glyphicon-wrench"></span></a>
            </li>
            <li class="list-group-item list-group-item-warning">
                <a ui-sref=".create">Add site</a>
            </li>
        </div>
    </div>
    <div class="col-md-10">
        <div ui-view></div>
    </div>
</div>
