<div class="panel panel-success">
    <div class="panel-heading">Change password</div>
    <div class="panel-body">
        <form class="form-horizontal" name="form" role="form" novalidate>
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label" for="sEmail">Email/Login</label>

                <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3">
                    <input type="text" class="form-control" ng-model="passwordData.email" name="sEmail" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 col-sm-2 control-label" for="password">New password</label>

                <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3">
                    <input type="password" class="form-control"
                           ng-required="true"
                           password-validate
                           ng-model="passwordData.password" name="password">
                    <div class="help-block" ng-show="pwdValidLength == false || pwdHasLetter == false || pwdHasNumber == false">
                        <span class="text-danger">Password must meet the following requirements:</span>
                        <ul>
                            <li ng-hide="pwdHasLetter">At least <strong>one letter</strong></li>
                            <li ng-hide="pwdHasNumber">At least <strong>one number</strong></li>
                            <li ng-hide="pwdValidLength">At least <strong>8 characters long</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="passwordConfirm" class="col-sm-2  col-xs-2 control-label">Confirm new password</label>

                <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3">

                    <input type="password" class="form-control" ng-model="passwordData.passwordConfirm" name="passwordConfirm"
                           nx-equal-ex="passwordData.password">
                    <span ng-show="form.passwordConfirm.$error.nxEqualEx"><p class="text-danger">Error confirming a new password</span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <button ng-click="update(passwordData)" class="btn btn-primary"
                            ng-disabled="form.$invalid || isUnchanged(passwordData)">SAVE
                    </button>
                    <span ng-show="responseErrorShow"><p class="text-danger">{{responseError}}</span>
                </div>
            </div>
        </form>
    </div>
</div>
