<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <span class="list-group-item list-group-item-success">
                <strong>User accounts</strong>
            </span>
                <a ng-repeat="user in users | orderBy:name" class="list-group-item" ui-sref=".detail({userId: user.id})">
                    {{user.name}}
                </a>
                <a ui-sref=".add" class="list-group-item list-group-item-info">Add user</a>
        </div>
    </div>
    <div class="col-md-10">
        <div ui-view></div>
    </div>
</div>
