<div class="panel panel-default">
    <div class="panel-heading">Credentials</div>
    <table class="table table-condensed">
        <tr>
            <th>#</th>
            <th>Updated</th>
            <th>Type</th>
            <th>Email</th>
            <th></th>
        </tr>
        <tr ng-repeat="cred in credentials">
            <td>{{cred.id}}</td>
            <td>{{cred.updatedDate}}</td>
            <td>{{cred.authServiceType}}</td>
            <td>{{cred.email}}</td>
            <td><div ng-if="cred.authServiceType == 'password'">
                <a ui-sref=".chpassword({credId: cred.id})">Change password</a>
                </div>
            </td>
        </tr>
    </table>
 </div>
<div ui-view></div>